.custom-wrapper {
  height: 100vh;
  //background-color: aqua;
  //background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background: linear-gradient(-45deg, #000099, #9999FF, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}


@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.btn-primary {
  margin: 5px;
}

.more-margin {
  margin: 50px;
}
 .container {
  padding-top: 150px;
 }
 .custom-border {
   border-color: black;
   border-style: solid;
   padding: 5px;
   border-radius: 5px;
 }
 h3 {
   margin-top: 20px;
 }
 input.ng-invalid.ng-touched {
  border: 2px solid red;
}

