.custom-wrapper {
  height: 100vh;
  background-color: aqua;
}

.btn-primary {
  margin: 5px;
}

.more-margin {
  margin: 50px;
}
 .container {
  padding-top: 150px;
 }
 .custom-border {
   border-color: black;
   border-style: solid;
   padding: 5px;
   border-radius: 5px;
 }
 h3 {
   margin-top: 20px;
 }
 input.ng-invalid.ng-touched {
  border: 2px solid red;
}

