<div class="custom-wrapper">

  <div class="container">
    <div class="row justify-content-center ">
      <div class="col-12 col-md-7">
        <div class="row">

            <div class="col-7">
              <div class="row">
                <h1>Mein</h1>
              </div>
              <div class="row ">
                <h1 class="text-center">Studmanager</h1>
              </div>
              <div class="row" style="padding-top: 20px;">
                <h2>Die schlaue Art zu studieren</h2>
              </div>
          </div>

            <div class="col-5">
              <div *ngIf="isLoading" style="text-align: center; padding-top: 50px;">
                <app-loading-spinner></app-loading-spinner>
              </div>
              <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="custom-border" *ngIf="!isLoading">
                <div class="row">
                  <h3>Login</h3>
                 </div>

                   <div class="form-group">
                     <label for="name">Name oder Email</label>
                     <input
                      type="text"
                      formControlName="ident"
                      id=""
                      class="form-control">
                   </div>


                   <div class="form-group">
                     <label for="password">Passwort</label>
                     <input
                      type="password"
                      id="password"
                      formControlName="password"
                      class="form-control">
                   </div>
                   <div>
                    <button type="submit" [disabled]="!loginForm.valid" class="btn btn-primary">Login</button>
                    <button class="btn btn-primary" (click)="onRegister()">Register</button>
                   </div>
              </form>

              <div *ngIf="error && !isLoading" style="text-align: center;">
                <div>{{errorMessage}}!</div>
              </div>

              <div *ngIf="loggedOut && !isLoading" style="text-align: center;">
                <div>{{loggedOutMessage}}!</div>
              </div>

            </div>

        </div>
      </div>

    </div>
  </div>

</div>




