.topic-overview-main-structure {
  display: grid;
  grid-row: 50px 2000px 50px; /*header (neuer Beitrag), posts, page selection*/
  border-top: 1px;
  border-bottom: 1px;
}

.topic-container {
  display: grid;
  border-style: solid;
  border-width: 2px;
}
.topic-container:hover {
  background-color: yellow;
  cursor:pointer;
}

.topic{
  height: 80px;
  max-height: 80px;
}

.page-container{
  display: block;
  text-align: center;
}
