.topics-site-main-container{
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
}

.topic-overview-main-structure {
  display: grid;
  grid-row: 50px 2000px 50px; /*header (neuer Beitrag), posts, page selection*/
  border-top: 1px;
  border-bottom: 1px;
}

.topRowContainer{
  display: flex;
  padding-bottom: 10px;
  justify-content: space-between

}

.pageStats{
  font-size: 14pt;
  display: inline-block;
}

.topicsArea{
  border-style: none none solid none;
  border-width: 2px;
}
.topic-container {
  display: flex;
  border-style: solid solid none solid;
  border-width: 2px;

  background: -webkit-linear-gradient(#b5dff7, #a4b8fc);
  background: -moz-linear-gradient(rgb(181, 223, 247), rgb(164, 184, 252));
  background: -o-linear-gradient(rgb(181, 223, 247), rgb(164, 184, 252));
  background: linear-gradient(rgb(181, 223, 247), rgb(164, 184, 252));


  -webkit-transition: background 1s ease-out;
  -moz-transition: background 1s ease-out;
  -o-transition: background 1s ease-out;
  transition: background 1s ease-out;

  background: -webkit-linear-gradient(45deg, #8ea9db, #f0f4f7);
  background: -moz-linear-gradient(45deg, #8ea9db, #f0f4f7);
  background: -o-linear-gradient(45deg, #8ea9db, #f0f4f7);
  background: linear-gradient(45deg, #8ea9db, #f0f4f7);

  -webkit-transition: background 0.1s ease-out;
  -moz-transition: background 0.1s ease-out;
  -o-transition: background 0.1s ease-out;
  transition: background 0.1s ease-out;

  background-size:1px 300px;
  border-radius: 0px;
}
.topic-container:hover {
  background-position:700px;
  cursor:pointer;
}

.topic{
  flex: 1;
  min-width: 0; /* or some value */
  max-height: 60px;
}

.topic-title-text {
  max-height: 40px;
  font-size: 14pt;
  font-weight: bold;

  overflow: hidden;
  text-overflow: ellipsis;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
}
.topic-last-post{
  padding-left: 5px;
  padding-right: 5px;
}

.page-container{
  display: block;
  text-align: center;
}
.page-clickables-container{
  display: inline-block;
  padding-right: 5px;
  color: blue;
  text-decoration: underline;
}
.page-clickables-container:hover{
  color: magenta;
  cursor:pointer;
}

.create-new-topic-btn{
  background-color: cornflowerblue;
  width: 250px;
  max-width: 400px;
}
.create-new-topic-btn:hover{
  background-color: #5E7AC9;
}
