.editor-main-container{
  display: grid;
  grid-row: 30px 250px 30px;
  column-width: 100%;
  width: 600px;
}

.editor-bottom-row{
  display: flex;
  justify-content: space-between
}

.postCreator-title-field{
  font-size: 14pt;
}

.postCreator-content-field{
  height: 150px;
}

