<!-- Topic View -->
<div class="topicSiteContainer">
  <h1>Mein Studplaner - Forum</h1>

  <h1 *ngIf="!loadingPosts">Seite {{postPageNum}} - zeige {{currentReplies.length}} von {{loadedReplyObj.totalCount}}
    <ng-container *ngIf="currentReplies.length == 1">Post</ng-container>
    <ng-container  *ngIf="currentReplies.length != 1">Posts</ng-container>
  </h1>

  <div class="topicBackContainer">
    <button class="back-to-topics-topic-btn" mat-raised-button (click)="navigateBackToTopics()"><- Zurück zu Themen</button>
  </div>
  <mat-spinner style="margin:0 auto;" *ngIf="loadingPosts"></mat-spinner>

  <div class="postsArea" *ngIf="currentReplies.length > 0">
    <div *ngFor="let reply of currentReplies" class="reply-container">

      <div class="reply-header-info">
        <em>am {{reply.creationDate | date: 'dd.MM.yyyy'}}, {{reply.creationDate | date: 'HH:mm:ss'}} Uhr</em>
        von <b>{{reply.authorName}}</b>
          <ng-container *ngIf="reply.numberOfEdits > 0">
            ({{reply.numberOfEdits}} mal Bearbeitet, zuletzt am {{reply.lastEdit | date: 'dd.MM.yyyy'}}, {{reply.lastEdit | date: 'HH:mm:ss'}})
          </ng-container>
      </div>

      <br><br>
      <div class="reply-title" [innerHTML]="reply.title"></div>

      <div class="reply-message" [innerHTML]="reply.content"></div>
      <br>
      <br>

      <div class="user-options">
        <button *ngIf="authorizedToDelete || (reply.authorId == userId && reply.canBeDeleted)" class="options-btn "mat-flat-button (click)="deletePost(reply)">Post löschen</button>
        <button *ngIf="reply.authorId == userId" class="options-btn" mat-flat-button (click)="editPost(reply)">Post Bearbeiten</button>
        <button class="options-btn" mat-flat-button (click)="createAnswer('direct', reply)">Direkt Antwort</button>
      </div>

      <div class="vote-options">
        <button class="vote-btn" mat-button (click)="upVote(reply)" [innerHTML]="getUpVoteText(reply.numUpVotes)"></button>
        <button class="vote-btn" mat-button (click)="downVote(reply)" [innerHTML]="getDownVoteText(reply.numDownVotes)"></button>
        <button class="vote-btn"  mat-button (click)="removeVote(reply)">Bewertung löschen</button>
      </div>
    </div>
  </div>
  <div class="answerContainer">
    <button class="answer-btn" mat-raised-button (click)="createAnswer('new')">Antwort schreiben</button>
  </div>

  <div class="postsPage-container" *ngIf="!loadingPosts">
    Seite<br>
    <div class="postPage-clickables-container" *ngFor="let number of postPageIterationNumbers" (click)="goToPostPage(number)">
      {{number}}
    </div>
  </div>

</div>
