<div class="row">
  <div class="col-xs-12" id="stud-header">
   <h1>Mein Studplaner</h1>
  </div>
</div>



    <ul >
      <li routerLinkActive="active-link"
      [routerLinkActiveOptions]="{exact: true}"
       class="nav-item active" >
        <a class="nav-link" routerLink="/" >Home</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Planer</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Lernen</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Forum</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Chat</a>
      </li>
      <li routerLinkActive="active-link" class="nav-item active">
        <a class="nav-link" routerLink="/profile">Profil</a>
      </li>
    </ul>
