#stud-header {
  background-color: aqua;
  text-align: center;
}
ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgba(141, 205, 224, 0.774);
}

li {
  flex: auto;
  float: left;

}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 10px 30px;
  text-decoration: none;
  border-style: solid none solid solid;
  color: black;
  border-color: black;
}

li a:hover {
  background-color:rgba(72, 94, 192, 0.774);
}

.active-link {
  background-color:rgba(72, 94, 192, 0.774);
}

.custom-container {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
