h3 {
  padding: 20px;
}

a:hover {
  cursor:pointer;
 }

.custom-border-up {
  border-color: black;
  border-style: solid solid none solid;
  padding: 10px;
}

.custom-border-down {
  border-color: black;
  border-style: none solid solid solid;
  padding: 10px;
}
.custom-border {
  border-color: black;
  border-style: solid solid solid solid;
  padding: 10px;
}

.custom-border-left {
  border-color: black;
  border-style: none none none solid;
  padding: 10px;
}
.no-padding {
  padding: 0;
}
input.ng-invalid.ng-touched {
  border: 1px solid red;
}

.error-message {
  text-align: center;
  font-size: medium;
}
