<div class="container">
  <div class="row justify-content-center">
    <div class="col-8">

      <div class="row">
        <h3 class="text-center">Bachelorstudium Informatik 2013</h3>
      </div>

      <div class="row  custom-border-up">
        <div class="col-6 fw-bold">1. Studienabschnit</div>
        <div class="col-6 text-end "
        [ngClass]="{'dropend': showSubjectsSectionOne}">
          <button
          class="btn btn-primary dropdown-toggle"
          (click)="setShowSubjectsSectionOne()">
        </button>
        </div>
      </div>

      <div *ngIf="!showSubjectsSectionOne; else subjectTemplateOne"></div>



      <div class="row  custom-border-up">
        <div class="col-6 fw-bold">2. Studienabschnit</div>
        <div class="col-6 text-end"
        [ngClass]="{'dropend': showSubjectsSectionTwo}">
          <button
          class="btn btn-primary dropdown-toggle"
          (click)="setShowSubjectsSectionTwo()">
        </button>
        </div>
      </div>

      <div *ngIf="!showSubjectsSectionTwo; else subjectTemplateTwo"></div>

      <div class="row  custom-border-up">
        <div class="col-6 fw-bold">Wahlpflichtfächer</div>
        <div class="col-6 text-end">
          <button
          class="btn btn-primary dropdown-toggle">

        </button>
        </div>
      </div>

      <div class="row  custom-border no-padding">
        <div class="col-8 align-self-center fw-bold">Durchschnitt</div>
        <div class="col-2 custom-border-left">
          2.4
        </div>
        <div class="col-2 custom-border-left">
          35 CP
        </div>
      </div>



        <ng-template #subjectTemplateOne>
          <div *ngFor="let subject of subjectsSectionOne">
            <div class="row  custom-border-up no-padding">
              <div class="col-8 align-self-center">{{subject.name}}</div>
              <div class="col-2 custom-border-left">
                {{subject.grade}}
              </div>
              <div class="col-2 custom-border-left">
                {{subject.cp }}   CP
              </div>
            </div>
          </div>
        </ng-template>

        <ng-template #subjectTemplateTwo>
          <div *ngFor="let subject of subjectsSectionTwo">
            <div class="row  custom-border-up no-padding">
              <div class="col-8 align-self-center">{{subject.name}}</div>
              <div class="col-2 custom-border-left">
                {{subject.grade}}
              </div>
              <div class="col-2 custom-border-left">
                {{subject.cp }}   CP
              </div>
            </div>
          </div>
        </ng-template>

  </div>
</div>
