<div class="container">
  <div class="row justify-content-center">
    <div class="col-8">

      <div class="row">
        <h3 class="text-center">Bachelorstudium Informatik 2013</h3>
      </div>

      <div class="row  custom-border-up">
        <div class="col-6 fw-bold">1. Studienabschnit</div>
        <div class="col-6 text-end "
        [ngClass]="{'dropend': showSubjectsSectionOne}">
          <button
          class="btn btn-primary dropdown-toggle"
          (click)="setShowSubjectsSectionOne()">
        </button>
        </div>
      </div>

      <div *ngIf="!showSubjectsSectionOne; else subjectTemplateOne"></div>



      <div class="row  custom-border-up">
        <div class="col-6 fw-bold">2. Studienabschnit</div>
        <div class="col-6 text-end"
        [ngClass]="{'dropend': showSubjectsSectionTwo}">
          <button
          class="btn btn-primary dropdown-toggle"
          (click)="setShowSubjectsSectionTwo()">
        </button>
        </div>
      </div>

      <div *ngIf="!showSubjectsSectionTwo; else subjectTemplateTwo"></div>

      <div class="row  custom-border-up">
        <div class="col-6 fw-bold">Wahlpflichtfächer</div>
        <div class="col-6 text-end"
        [ngClass]="{'dropend': showSubjectsSectionOptional}">
          <button
          class="btn btn-primary dropdown-toggle"
          (click)="setShowSubjectsSectionOptional()">
        </button>
        </div>
      </div>

      <div *ngIf="!showSubjectsSectionOptional; else subjectTemplateOptional"></div>

      <div class="row  custom-border no-padding">
        <div class="col-8 align-self-center fw-bold">Durchschnitt</div>
        <div class="col-2 custom-border-left">
          {{averageGrade }}
        </div>
        <div class="col-2 custom-border-left">
          {{cpTotal }}   CP
        </div>
      </div>


        <ng-template #subjectTemplateOne>
          <div *ngFor="let subject of subjectsSectionOne">
            <div class="row  custom-border-up no-padding">
              <div class="col-8 align-self-center ">
               <a   (click)="onEditSubject(subject, '1. Studienabschnitt')">{{subject.name}}</a>
              </div>
              <div class="col-2 custom-border-left">
                {{subject.grade}}
              </div>
              <div class="col-2 custom-border-left">
                {{subject.cp }}   CP
              </div>
            </div>
          </div>
        </ng-template>

        <ng-template #subjectTemplateTwo>
          <div *ngFor="let subject of subjectsSectionTwo">
            <div class="row  custom-border-up no-padding">
              <div class="col-8 align-self-center">
                <a  (click)="onEditSubject(subject, '2. Studienabschnitt')">{{subject.name}}</a>
              </div>
              <div class="col-2 custom-border-left">
                {{subject.grade}}
              </div>
              <div class="col-2 custom-border-left">
                {{subject.cp }}   CP
              </div>
            </div>
          </div>
        </ng-template>

        <ng-template #subjectTemplateOptional>
          <div *ngFor="let subject of subjectsSectionOptional">
            <div class="row  custom-border-up no-padding">
              <div class="col-8 align-self-center">
                <a  (click)="onEditSubject(subject, 'Wahlpflichtfächer')">{{subject.name}}</a>
              </div>
              <div class="col-2 custom-border-left">
                {{subject.grade}}
              </div>
              <div class="col-2 custom-border-left">
                {{subject.cp }}   CP
              </div>
            </div>
          </div>
        </ng-template>

        <div class="m-3 row">
          <div class="column text-center">
            <button class="btn btn-primary" (click)="setChangeGradesVisible()">
              <span *ngIf="addGradesVisible">Abbrechen</span>
              <span *ngIf="addGradesVisible===false">Note hinzufügen</span>
            </button>
          </div>
        </div>

        <div *ngIf="addGradesVisible" class="mb-4 row justify-content-center">
          <div class="col-md-10">
            <form [formGroup]="gradesForm" (ngSubmit)="submitGrade()" class="custom-border">
              <div class="row mb-3">
                <label for="subject" class="col-sm-6 col-form-label">Fach</label>
                <div class="col-sm-6">
                  <input
                    type="text"
                    formControlName="subject"
                    class="form-control"
                    id="subject">
                    <span
                    *ngIf="!gradesForm.get('subject')?.valid && gradesForm.get('subject')?.touched"
                    class="help-block">Bitte gib ein Fach ein</span>
                </div>
              </div>

              <div class="row mb-3" >
                <label for="grade" class="col-sm-6 col-form-label">Note</label>
                <div class="col-sm-6">
                  <input
                    type="text"
                    formControlName="grade"
                    class="form-control"
                    id="grade">
                    <span
                    *ngIf="!gradesForm.get('grade')?.valid && gradesForm.get('grade')?.touched"
                    class="help-block">Bitte gib eine Note ein</span>
                </div>
              </div>
              <div class="row mb-3" >
                <label for="creditPoints" class="col-sm-6 col-form-label">CP</label>
                <div class="col-sm-6">
                  <input
                    type="text"
                    formControlName="creditPoints"
                    class="form-control"
                    id="creditPoints">
                    <span
                    *ngIf="!gradesForm.get('creditPoints')?.valid && gradesForm.get('creditPoints')?.touched"
                    class="help-block">Bitte gib die CP an</span>
                </div>
              </div>

              <div class="form-group row mb-3" >
                <label for="studySection" class="col-sm-6 col-form-label">Studienabschnitt</label>
                <div class="col-sm-6 " >
                    <select formControlName="studySection" class="form-select" id="studySection">
                      <option value="subjectsSectionOne">1. Studienabschnitt</option>
                      <option value="subjectsSectionTwo">2. Studienabschnitt</option>
                      <option value="subjectsSectionOptional">Wahlpflichtfach</option>
                    </select>
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <button type="submit" [disabled]="!gradesForm.valid" class="btn btn-primary">Note speichern</button>
                </div>

              </div>
            </form>
          </div>
        </div>


        <div *ngIf="changeGradeVisible" class="mb-4 row justify-content-center">
          <div class="col-md-10">
            <form [formGroup]="changeGradeForm"  class="custom-border">
              <div class="row mb-3">
                <label for="subject" class="col-sm-6 col-form-label">Fach</label>
                <div class="col-sm-6">
                  {{subjectName}}
                </div>
              </div>

              <div class="row mb-3" >
                <label for="grade" class="col-sm-6 col-form-label">Note</label>
                <div class="col-sm-6">
                  <input
                    type="text"
                    formControlName="grade"
                    class="form-control"
                    id="grade"
                    >
                    <span
                    *ngIf="!gradesForm.get('grade')?.valid && gradesForm.get('grade')?.touched"
                    class="help-block">Bitte gib eine Note ein</span>
                </div>
              </div>

              <div class="row mb-3" >
                <label for="creditPoints" class="col-sm-6 col-form-label">CP</label>
                <div class="col-sm-6">
                  {{subjectCP}}
                </div>
              </div>

              <div class="form-group row mb-3" >
                <div class="col-sm-6">Studienabschnitt</div>
                <div class="col-sm-6 " >
                    {{subjectSection}}
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <button *ngIf="!editMode" (click)="onChangeGrade(true)"  class="btn btn-primary">Note ändern</button>
                  <button *ngIf="editMode" (click)="onChangeGrade(false)"  class="btn btn-primary">Neue Note Speichern</button>
                </div>
                <div class="col-6 text-end">
                  <button (click)="onDeleteGrade()"   class="btn btn-primary">Note löschen</button>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col text-center">
                  <button (click)="onAbortEdit()" class="btn btn-secondary">Abbrechen</button>
                </div>

              </div>
            </form>
          </div>
        </div>

  </div>
</div>

